/* .container .card {
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px rgba(195, 16, 16, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .container {
    padding: -20px;
}

.card h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.card h2:first-child {
    margin-top: 0;
}

.card img {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
}

.card a {
    text-decoration: dotted;
    color: #333;
}

.card a:hover {
    text-decoration: underline;
} */

.anchor {
    text-decoration: none;
    color: black;
}

.anchor:hover {
    text-decoration: none;
    color: rgb(30, 30, 46);
    text-decoration: underline;

}

.card {
    padding: 1rem;
}

.card img {
    max-width: 320px;
    max-height: 160px;
    min-height: 160px;
    min-width: 320px;
}

.card h2 {
    max-width: 320px;
}